<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Static Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .table tr {
        height: 50px;
      }
      .table td {
        width: 33%;
      }
      body {
      	background-color: black;
      	color: white;
      }
    </style>
  </head>
  <body>

    <!-- Static navbar -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Nav</a>
      </nav>
      <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>


    <div class="container" id="game">
      <h1 class="text-center">Tic-tac-smegaroo!</h1>

      <h2 class="text-center">
        You are playing: {{ player.tile }}
      </h2>

      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <table class="table table-bordered text-center">
              <tr v-for="(row, rowIndex) in board">
                <td v-for="(item, colIndex) in row" @click="plot(rowIndex, colIndex)">
                  <strong>{{ item }}</strong>
                </td>
              </tr>
    
            </table>
        </div>
      </div>

      <img src="https://www.irishexaminer.com/remote/media.central.ie/media/images/h/hedgehog17_large.jpg?width=648&s=ie-467290" alt="">

    </div>

        

    </div> <!-- /container -->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      
      // create the Vue app!
      var app = new Vue({
        el: '#game',
        data: {
          board: [],
          player: {},
          ai: {},
          currentPlayer: null
        },
        methods: {
          // resets the game board to an empty array of arrays!
          initGameBoard: function () {
            this.board = [
              [null, null, null],
              [null, null, null],
              [null, null, null]
            ];
          },
          
          // determines if the game is over, and if it is - return true
          // otherwise returns false!
          handleGameOver: function () {
            return false;
          },

          // switches the player whos turn it is!
          togglePlayer: function () {
            this.currentPlayer = this.currentPlayer == this.ai ? this.player : this.ai;
          },

          // Plots the players turn on the gameboard, and handles the post turn logic
          plot: function(rowIndex, colIndex) {
            this.board[rowIndex][colIndex] = this.currentPlayer.tile;

            if (!this.handleGameOver())
            {
              // game is still playing! 
              // switch players
              this.togglePlayer();
              if (this.currentPlayer == this.ai)
                this.playAiTurn();

              // await their next turn!
            }

            // since VueJS is going to struggle to inspect the baord (deep nesting issue)
            // force an update to the template
            this.$forceUpdate();
          },

          initGame: function () {
            this.player.tile = Math.random() > 0.5 ? 'x' : 'o';
            this.ai.tile = this.player.tile == 'x' ? 'o' : 'x';
            
            // init the first player
            this.currentPlayer = this.player.tile == 'x' ? this.player : this.ai;

            this.initGameBoard();
          },

          isAisTurn: function () {
            return this.currentPlayer == this.ai;
          },

          randomFromArray: function(items) {
            return items[Math.floor(Math.random()*items.length)];
          },

          playAiTurn: function () {
            // find all the possible moves...
            var possibleMoves = [];
            for(var i=0; i<this.board.length; i++)
              for (var j=0; j<this.board[i].length; j++)
                if (!this.board[i][j])
                  possibleMoves.push({
                    row: i,
                    col: j
                  });

            // ... play a random one!
            if (possibleMoves.length)
            {
              var move = this.randomFromArray(possibleMoves);
              this.plot(move.row, move.col);
            }
            else
            {
              throw 'Error - no moves possible!';
            }
          },

          startGame: function () {
            this.initGame();

            // work out if it's the AI's turn to move
            if (this.isAisTurn())
            {
              this.playAiTurn();
            }
          }
        },
        mounted: function () {
          this.startGame();
        }
      });
    
    </script>

  </body>
</html>











